---
layout: default
---

<ul>
  {% for post in paginator.posts %}
    <li>
      <a href="{{ post.url | relative_url }}">{{ post.date | date: "%Y-%m-%d" }} - {{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div class="pagination-wrapper">
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}" class="page-btn prev-btn">
        &larr; 이전
      </a>
    {% else %}
      <span class="page-btn prev-btn disabled">&larr; 이전</span>
    {% endif %}

    <span class="page-info">
      페이지 <strong>{{ paginator.page }}</strong> / {{ paginator.total_pages }}
    </span>

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="page-btn next-btn">
        다음 &rarr;
      </a>
    {% else %}
      <span class="page-btn next-btn disabled">다음 &rarr;</span>
    {% endif %}
  </div>
</div>
{% endif %}

