---
layout: default
---

<small>{{ page.date | date: "%Y-%m-%d" }}</small>

<div class="post-wrapper">
  <article class="js-toc-content">{{ content }}</article>
  <aside class="toc-sidebar js-toc">
    <h1>{{ page.title }}</h1>
    <p style="color: #666">{{ page.date | date: "%Y-%m-%d" }}</p>
    <hr />
  </aside>
</div>
<a href="{{ site.baseurl }}/">← 메인으로</a>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.27.0/tocbot.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.27.0/tocbot.min.js"></script>
<script>
  tocbot.init({
    tocSelector: ".js-toc", // TOC를 넣을 선택자
    contentSelector: ".js-toc-content", // 본문 내용 선택자
    headingSelector: "h1, h2, h3", // 목차로 만들 헤더 수준
    collapseDepth: 6, // 6단계까지는 접지 않고 항상 펼침
    showAndHide: false,
  });
</script>
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>

<script>
  window.MathJax = {
    tex: {
      inlineMath: [
        ["$", "$"],
        ["\\(", "\\)"],
      ],
      displayMath: [
        ["$$", "$$"],
        ["\\[", "\\]"],
      ],
      processEscapes: true,
      processEnvironments: true,
    },
    options: {
      skipHtmlTags: ["script", "noscript", "style", "textarea", "pre"],
    },
  };
</script>
<script
  id="MathJax-script"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"
></script>
<script type="module">
  import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.js";
  mermaid.initialize({ startOnLoad: true });
</script>
